@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root, :root[data-theme='dark'] {
    --primary-color: #F0EFED;
    --primary-bg-color: #130F0C;
    --secondary-bg-color: #675D56;
    --primary-border-color: #40261C;
    --secondary-border-color: #675D56;

    --title-color: #F0EFED;
    --text-color: #B07F63;
    --link-color: #B59988;
    --icon-color: #D1BDA5;
}

:root, :root[data-theme='light'] {
    --primary-color: #130F0C;
    --primary-bg-color: #F0EFED;
    --secondary-bg-color: #B59988;
    --primary-border-color: #B59988;
    --secondary-border-color: #733907;

    --title-color: #130F0C;
    --text-color: #40261C;
    --link-color: #59190B;
    --icon-color: #733907;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    list-style: none;
}

body {
    background: var(--primary-bg-color);
    font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none;
}

a:hover {
    color: var(--primary-color);
    font-weight: 600;
}

i {
    color: var(--icon-color);
}

b {
    font-weight: 400;
}

h1 {
    font-size: 2.5rem;
    font-weight: 200;
}

h1, h2, h3 {
    font-family: 'League Spartan', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    color: var(--text-color);
    font-weight: 200;
}

p {
    font-size: 1.25rem;
    text-align: justify;
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    width: 100%;
}

.header__toggle {
    display: flex;
    justify-content: flex-end;
}

.header__brand .brand__logo {
    height: 3.25rem;
    width: auto;
}

#toggleTheme {
    font-size: 1.5rem;
    color: var(--primary-color);
    cursor: pointer;
    transition: ease-in-out .4s;
}

.menu {
    display: flex;
    align-items: center;
    background: var(--primary-bg-color);
}

.menu__item {
    width: 100%;
}

.menu--mobile {
    justify-content: space-between;
    border-top: 1px solid var(--primary-border-color);
    width: 100%;
    position: fixed;
    bottom: 0;
}

.menu--mobile .menu__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding: .5rem 1rem;
}

.menu__link.active .menu__icon,
.menu__link.active .menu__text,
.menu__link:hover .menu__icon,
.menu__link:hover .menu__text {
    color: var(--primary-color);
    font-weight: 600;
}

.menu__icon, .menu__text {
    color: var(--text-color);
}

.menu__icon {
    font-size: 1.5rem;
}

.menu__text {
    font-size: .75rem;
    text-transform: uppercase;
}

.header__nav {
    display: none;
}

.menu--principal {
    gap: 1rem;
}

.menu--social {
    gap: 1rem;
}

.btn {
    background: transparent;
    border-radius: 3.125rem;
    padding: .875rem 1.5rem;
    width: 100%;
    display: flex;
    gap: .625rem;
    justify-content: center;
    align-items: center;
    transition: ease-in-out .3s;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.05);
    transition: ease-in-out .3s;
}

.btn span, .btn i {
    font-size: 1.25rem;
}

.btn--primary span {
    color: var(--primary-color);
    text-transform: uppercase;
}

.btn--primary {
    border: 1px solid var(--primary-color);
}

main {
    padding: 2.5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.main__content1 {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.main__content2 {
    width: 100%;
    aspect-ratio: 16/9;
}

.skills {
    display: flex;
    flex-direction: column;
    padding: 6.25rem 1rem 2rem 1rem;
    background: var(--secondary-bg-color);
    margin-top: -5.5rem;
    align-items: center;
    justify-content: flex-start;
    gap: 1.25rem;
}

.skills h2{
    text-transform: none;
    font-size: 2rem;
}

.skills__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: .5rem;
}

.skills__item {
    width: 4.8rem;
    height: 4.8rem;
    aspect-ratio: 1/1;
    border: 1px solid var(--secondary-border-color);
    border-radius: 50rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.skills__logo {
    height: 2.4rem;
}

footer {
    color: var(--text-color);
    text-align: center;
    font-size: .875rem;
    margin-bottom: 5rem;
    padding: 1rem;
}

footer a {
    color: var(--text-color);
}



@media (min-width: 768px) {
    .header{
        border-bottom: 1px solid var(--primary-border-color);
        position: fixed;
        padding: 1rem 6rem;
        background: var(--primary-bg-color);
    }
    .nav--mobile {
        display: none;
    }

    .header__nav {
        display: flex;
    }

    .header__nav,
    .header__toggle {
        min-width: 30%;
    }

    .header__brand .brand__logo {
    height: 6rem;
    width: auto;
    }

    main {
    min-height: calc(100vh - 100px); /* ajusta levando em conta header+footer */
    padding: 2rem;
    }

    h1 {
        font-size: 4rem;
    }

    main {
        padding: 8rem 6rem 4rem 6rem;
    }

    .main__content1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .skills {
        padding: 6.25rem 6rem 2rem 6rem;
        margin-top: -6rem;
    }

    footer {
        margin: 0;
    }
}

@media (min-width: 1200px) {
    main {
        padding: 12rem 6rem 2 rem;
    }

    .main__content1 .btn {
        width: auto;
    }

    .skills {
        flex-direction: row;
        justify-content: space-between;
        padding: 10rem 6rem 4rem;
    }

    .skills h2 {
        font-size: 3.5rem;
        width: 60%;
    }

    .skills__list {
        gap: 1rem;
    }

    .skills__item {
        width: 6rem;
        height: 6rem;
    }

    .skills__logo {
        height: 3rem;
    }

}

@media (min-width: 1400px) {
    h1 {
        font-size: 6.25rem;
    }

    p {
        font-size: 1.5rem;
    }

    .header{
        padding: 1rem 15rem;
    }

    main {
        padding: 12rem 15rem 2 rem;
    }

    .skills {
        padding: 10rem 15rem 4rem;
    }
}